* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

html {
  background: -moz-linear-gradient(180deg, #ff7dc3 0%, #9eeeff 100%);
  background: -webkit-linear-gradient(180deg, #ff7dc3 0%, #9eeeff 100%);
  background: linear-gradient(180deg, #ff7dc3 0%, #9eeeff 100%);
}
